body {
    min-height: 100vh;
    background-color: #141414;
    color: #fff;
}
.about-me-container {
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid #777674;
}
.work-experience-container {
    margin: 0 auto;
    max-width: 1400px;
    border: 1px solid #777674;
    border-radius: 10px;
    margin-top: 100px;
 }
 .projects-container {
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 100px;
 }
.portfolio-name {
    text-shadow: 0 0 10px #DC3214, 0 0 20px #DC3214;
    color: #DC3214;
}

.card {
    background-color: #252424;
    border: 1px solid rgb(87, 83, 83);
}