body {
    min-height: 100vh;
    background-color: #141414;
    color: #fff;
    font-family: "Times New Roman", Times, serif;
}
.about-me-container {
    margin: 0 auto;
    max-width: 1400px;
    border-radius: 10px;
    margin-top: 40px;
}

 .projects-container {
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 30px;
 }
 .experience {
    margin: 0 auto;
    max-width: 1400px;
    margin-top: 30px;
 }
.portfolio-name {
    text-shadow: 0 0 10px #DC3214, 0 0 20px #DC3214;
    color: #DC3214;
}

.card {
    background-color: #252424;
    border: 1px solid rgb(87, 83, 83);
}

img:hover {
    opacity: 0.3;
    transition: 0.8s;
}

.bg-button { 
    background-color: #d31c1c;
    color: #fff;
}
.bg-button:hover {
    opacity: 0.3;
    transition: 0.6s;
}
.btn-viewall {
    background-color: #21a2a7;
    color: #fff;
}
.btn-viewall:hover {
    opacity: 0.3;
    transition: 0.6s;
}